<app-navbar></app-navbar>
<app-leftbar></app-leftbar>
<div class="clearfix"></div>
  <div class="content-wrapper">
    <div class="container-fluid">
    <!-- Breadcrumb-->
     <div class="row pt-2 pb-2">
        <div class="col-sm-9">
		    <h4 class="page-title">Home Page</h4>
		    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
         </ol>
	   </div>

     </div>
    <!-- End Breadcrumb-->


    <div class="row">
        Hi 
    </div><!--End Row-->
</div>
<!-- End container-fluid-->
