

<!-- Start wrapper-->
<div id="wrapper">

  <div class="card-authentication2 mx-auto my-5">
   <div class="card-group">
     <div class="card mb-0">
        <div class="bg-signin2"></div>
       <div class="card-img-overlay rounded-left my-5">
              <h1 class="text-white">Djagora</h1>
              <p class="card-text text-white pt-3">Welcome to the first live tracking website in tunisia.</p>
          </div>
     </div>

     <div class="card mb-0 ">
       <div class="card-body">
         <div class="card-content p-3">
           <div class="text-center">
            <img src="./assets/assets/images/logo-icon.png" alt="logo icon">
          </div>
        <div class="card-title text-uppercase text-center py-3">Sign In</div>
          <form [formGroup]="loginForm">
           <div class="form-group">
            <div class="position-relative has-icon-left">
              <label for="exampleInputUsername" class="sr-only">Username</label>
              <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email" required>
              <div class="form-control-position">
               <i class="icon-user"></i>
             </div>
            </div>
           </div>
           <div class="form-group">
            <div class="position-relative has-icon-left">
             <label for="exampleInputPassword" class="sr-only">Password</label>
             <input type="password" id="password" placeholder="Password" class="form-control" formControlName="password" required>
             <div class="form-control-position">
               <i class="icon-lock"></i>
             </div>
            </div>
           </div>
           <div class="form-row mr-0 ml-0">
           <div class="form-group col-6">
             <div class="icheck-material-primary">
                    <input type="checkbox" id="user-checkbox" checked="" />
                    <label for="user-checkbox">Remember me</label>
            </div>
           </div>
           <div class="form-group col-6 text-right">
            <a href="authentication-reset-password2.html">Reset Password</a>
           </div>
         </div>
         <button type="button" (click)="login()" class="btn btn-primary btn-block waves-effect waves-light">Sign In</button>



       </form>
      </div>
     </div>
     </div>
    </div>
   </div>

</div>
