<app-navbar></app-navbar>
<app-leftbar></app-leftbar>
<div class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">
    <!-- Breadcrumb-->
     <div class="row pt-2 pb-2">
        <div class="col-sm-9">
		    <h4 class="page-title">Form Layouts</h4>
		    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
         </ol>
	   </div>

     </div>
    <!-- End Breadcrumb-->
          <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <form id="personal-info" [formGroup]="submitForm" (ngSubmit)="onSubmit()">
                <h4 class="form-header text-uppercase">
                  <i class="fa fa-car"></i>
                   Personal Car Info
                </h4>
                <div class="form-group row">
                  <label for="input-1" class="col-sm-2 col-form-label">Car Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-rounded" id="input-1" formControlName="NameCar" name="NameCar" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="input-2" class="col-sm-2 col-form-label">Puissance</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-rounded" id="input-2" formControlName="Puissance" name="Puissance" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="input-3" class="col-sm-2 col-form-label">Place Number</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control form-control-rounded" id="input-3" formControlName="NumberPlace" name="NumberPlace" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="input-4" class="col-sm-2 col-form-label">Matricule</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-rounded" id="input-4" formControlName="Matricule" name="Matricule" required>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="input-5" class="col-sm-2 col-form-label">Date Of Circulation</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control form-control-rounded" id="input-5" formControlName="DateCirculation" name="DateCirculation" required>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="input-5" class="col-sm-2 col-form-label">Sum of KMs</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-rounded" id="input-5" formControlName="TotKm" name="TotKm" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="input-6" class="col-sm-2 col-form-label">Family Car</label>
                  <div class="col-sm-10">
                    <select name="FamilyCarId" formControlName="FamilyCarId" class="form-control single-select">
                      <option *ngFor="let familycar of familycars"
                      [ngValue]="familycar.familyCarId">{{familycar.nameFamily}}</option>

                      </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="input-7" class="col-sm-2 col-form-label">User</label>
                  <div class="col-sm-10">
                    <select class="form-control single-select" id="input-7" name="UserId" formControlName="UserId" required>
                      <option *ngFor="let user of users"
                      [ngValue]="user.userId">{{user.cin}}</option>

                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="input-7" class="col-sm-2 col-form-label">Type Car</label>
                  <div class="col-sm-10">
                    <select class="form-control single-select" id="input-7" formControlName="TypeCarId" name="TypeCarId" required>
                      <option *ngFor="let typecar of typecars"
                      [ngValue]="typecar.typeCarId">{{typecar.nameType}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-times"></i> CANCEL</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> SAVE</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
