<!--Start sidebar-wrapper-->
<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
  <div class="brand-logo">
  <a href="index.html">
    <img src="assets/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
    <h5 class="logo-text">Dashtreme Admin</h5>
  </a>
</div>
<div class="user-details">
<div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
  <div class="avatar"><img class="mr-3 side-user-img" src="https://via.placeholder.com/110x110" alt="user avatar"></div>
    <div class="media-body">
      <h6 class="side-user-name">Mark Johnson</h6>
    </div>
  </div>
  <div id="user-dropdown" class="collapse">
  <ul class="user-setting-menu">
        <li><a href="javaScript:void();"><i class="icon-user"></i>  My Profile</a></li>
        <li><a href="javaScript:void();"><i class="icon-settings"></i> Setting</a></li>
  <li><a href="javaScript:void();"><i class="icon-power"></i> Logout</a></li>
  </ul>
  </div>
</div>
<ul class="sidebar-menu">
  <li class="sidebar-header">MAIN NAVIGATION</li>
  <li>
    <a href="javaScript:void();" class="waves-effect">
      <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span><i class="fa fa-angle-left pull-right"></i>
    </a>
<ul class="sidebar-submenu">

      <li><a href="dashboard-property-listing.html"><i class="zmdi zmdi-dot-circle-alt"></i> Property Listings</a></li>

</ul>
  </li>
  <li>
    <a href="javaScript:void();" class="waves-effect">
      <i class="zmdi zmdi-layers"></i>
      <span>Config Car</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="sidebar-submenu">
<li><a href="ui-typography.html"><i class="zmdi zmdi-dot-circle-alt"></i>Consulting Type Car</a></li>
    <li><a href="ui-cards.html"><i class="zmdi zmdi-dot-circle-alt"></i>Consulting Family Car</a></li>
    </ul>
  </li>
  <li>
    <a href="javaScript:void();" class="waves-effect">
      <i class="zmdi zmdi-card-travel"></i>
      <span>Consulting Car</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="sidebar-submenu">
      <li><a href="components-range-slider.html"><i class="zmdi zmdi-dot-circle-alt"></i>Add/Edit Car</a></li>
      <li><a href="components-image-carousel.html"><i class="zmdi zmdi-dot-circle-alt"></i> List Cars</a></li>

    </ul>
  </li>
  <li>
    <a href="javaScript:void();" class="waves-effect">
      <!--  #For_SuperUser-->
      <i class="zmdi zmdi-chart"></i><span>Consulting User Manager</span>
      <i class="fa fa-angle-left float-right"></i>
    </a>
    <ul class="sidebar-submenu">
      <li><a href="charts-chartjs.html"><i class="zmdi zmdi-dot-circle-alt"></i> Add/Edite User Manager </a></li>
      <li><a href="charts-apex.html"><i class="zmdi zmdi-dot-circle-alt"></i> Show List User Manager </a></li>

    </ul>
    </li>
  <li>
    <a href="javaScript:void();" class="waves-effect">
      <!--  #For_SuperUser-->
      <i class="zmdi zmdi-widgets"></i> <span>Consulting User Driver</span>
      <i class="fa fa-angle-left float-right"></i>
    </a>
    <ul class="sidebar-submenu">
      <li><a href="widgets-static.html"><i class="zmdi zmdi-dot-circle-alt"></i>Add/Edite Driver </a></li>
      <li><a href="widgets-data.html"><i class="zmdi zmdi-dot-circle-alt"></i>Show List Driver</a></li>
    </ul>
    </li>
  <li>
    <a href="javaScript:void();" class="waves-effect">
      <i class="zmdi zmdi-map"></i> <span>Tracking</span>
      <i class="fa fa-angle-left float-right"></i>
    </a>
    <ul class="sidebar-submenu">
      <!-- For UserManager -->
      <li><a href="maps-google.html"><i class="zmdi zmdi-dot-circle-alt"></i> Show Real Time Tracking </a></li>

      <!-- For Driver -->
      <li><a href="maps-google.html"><i class="zmdi zmdi-dot-circle-alt"></i> Show Real Time Tracking </a></li>

      <!-- Show Liste Tracking -> Filtering By (Car or Driver) #For_UserManager-->
      <li><a href="maps-vector.html"><i class="zmdi zmdi-dot-circle-alt"></i> Show Liste Tracking </a></li>
        <!-- Show Liste Tracking For Driver -->
        <li><a href="maps-vector.html"><i class="zmdi zmdi-dot-circle-alt"></i> Show Liste Tracking </a></li>
          <!-- Start Tracking For Driver -->
        <li><a href="maps-vector.html"><i class="zmdi zmdi-dot-circle-alt"></i> Start Tracking Tracking </a></li>
    </ul>
    </li>
